<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/hello.css}" rel="stylesheet"/>
</head>
<body>
 <nav th:replace="fragments/nav :: navigation"></nav>

<main>
    <br>
    <br>
    <h1>Something went wrong! </h1>
    <br>
    <br>
    <a href="/">Go Home</a>
</main>


</body>
</html>