<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/hello.css}" rel="stylesheet"/>
</head>
<body>

<nav th:replace="fragments/nav :: navigation" ></nav>

<main>
    <br>
    <br>
    <h1>With CodeFellowship: </h1>
    <h3><ul>
        <li> User can sign up/login</li> <br/>
        <li> User can add a post</li> <br/>
        <li> User can follow other users</li> <br/>
        <li> User can see the posts of following users</li> <br/>
        <li class="homePage" th:unless="${user}">
            Don't Forget to Join Us !
            <a href="/signup">Sign up</a>
        </li>
        <li class="homePage" th:unless="${user}">
            <a href="/login">Log in</a>
        </li>
    </ul>

    </h3>

</main>


</body>
</html>