<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/hello.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments/nav :: navigation"></nav>

<main>
    <br>
    <img width="70px" src="/pic.jpg">
    <br>
    <h2>Welcome to <span th:text="${currentUser.firstName}"></span> 's profile</h2>
    <p>User Name: <span th:text="${currentUser.username}"></span></p>
    <p>First Name: <span th:text="${currentUser.firstName}"></span></p>
    <p>Last Name: <span th:text="${currentUser.lastName}"></span></p>
    <p>Date of Birth: <span th:text="${currentUser.dateOfBirth}"></span></p>
    <p>Bio: <span th:text="${currentUser.bio}"></span></p>
    <!--/*Posts.*/-->
    <br>
    <br>
    <div th:each="post : ${currentUser.posts}">
        <p> Post:
            <span th:text="${post.body}"></span>
        </p>
        <p> Since:
            <span th:text="${post.createdAt}"></span>
        </p>
    </div>

    <!--    Lab18-->
    <div th:if="${currentUser.id != loggedInUser.id}">
        <form action="/users/follow" method="post">
            <input type="hidden" name="id" th:value="${currentUser.id}">
            <input class="button" type="submit" value="Follow"/>
        </form>
    </div>

    <div th:if="${currentUser.id != loggedInUser.id}">
        <form action="/users/unfollow" method="post">
            <input type="hidden" name="id" th:value="${currentUser.id}">
            <input class="button" type="submit" value="UnFollow"/>
        </form>
    </div>


    <!--Add it later-->
    <!--    <div sec:authorize="hasAuthority('ADMIN')">-->
    <!--        <a href="/delete">Delete Profile </a>-->
    <!--    </div>-->
    <div th:if="${currentUser.id == loggedInUser.id}">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </div>
</main>
</body>
</html>