<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>

<h2>Welcome to <span th:text="${username.firstName}"></span> 's profile</h2>

<p>User Name: <span th:text="${username.username}"></span></p>
<p>First Name: <span th:text="${username.firstName}"></span></p>
<p>Last Name: <span th:text="${username.lastName}"></span></p>
<p>Date of Birth: <span th:text="${username.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${username.bio}"></span></p>

<div sec:authorize="hasAuthority('ADMIN')">
    <a href="/delete">Delete Profile </a>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>



